.chatBotSection {
    -fx-background-color: #f0f0f0;
    background-color: #f0f0f0;
    -fx-padding: 10px;
    padding: 10px;
    -fx-border-color: #ccc;
    border-color: #ccc;
    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-radius: 5px;
    border-radius: 5px;
}

.aboutSection {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-color: transparent;
    border-color: transparent;
}

.FAQQuestion {
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-text-fill: rgb(31, 132, 255);
    -fx-font-size: 14px;
    font-size: 14px;
}

.FAQAnswer {
    -fx-text-fill: rgb(136, 31, 255);
    -fx-font-size: 12px;
    font-size: 12px;
    -fx-wrap-text: true;
}

.FAQContainer {
    -fx-spacing: 5px;
    -fx-border-radius: 5px;
    border-radius: 5px;
    -fx-padding: 8px;
    padding: 8px;
    -fx-border-color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
    -fx-max-width: MAX_VALUE;
    max-width: MAX_VALUE;
    -fx-max-height: MAX_VALUE;
    max-height: MAX_VALUE;
}

.message-bubble {
    -fx-padding: 4 8 4 8;
    padding: 4 8 4 8;
    -fx-background-radius: 16;
    -fx-font-size: 12px;
    font-size: 12px;
    -fx-wrap-text: true;
    -fx-max-width: 196px;
    max-width: 196px;
}

.message-bubble-sent {
    -fx-background-color: rgb(31, 132, 255);
    background-color: rgb(31, 132, 255);
    -fx-text-fill: white;
}

.message-bubble-received {
    -fx-background-color: rgb(136, 31, 255);
    background-color: rgb(136, 31, 255);
    -fx-text-fill: rgb(255, 255, 255);
}