.root {
    -fx-background-color: rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
}

.navbarActive {
    -fx-background-color: rgb(31, 132, 255);
    background-color: rgb(31, 132, 255);
    -fx-text-fill: white;
}

.navbarInactive {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: black;
}

.DashboardNavbar {
    -fx-background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    -fx-text-fill: white;
    -fx-border-color: rgb(221, 221, 221);
    border-color: rgb(221, 221, 221);
}

.DashboardButton {
    -fx-background-color: transparent;
    background-color: transparent;
    border-color: rgb(0, 0, 0);
    -fx-text-alignment: left;
}

.DashboardButton-Active {
    -fx-background-color: rgb(31, 132, 255);
    background-color: rgb(31, 132, 255);
    -fx-text-fill: white;
}

.ActionBar {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: black;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    background: transparent;
    background-color: transparent;
}

.ContentBackground {
    -fx-background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.message-info-sender {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-font-size: 12px;
    font-size: 12px;
}

.message-info-timestamp {
    -fx-text-fill: rgb(105, 105, 105);
    -fx-font-style: italic;
    font-style: italic;
    -fx-font-size: 10px;
    font-size: 10px;
}

.message-bubble {
    -fx-padding: 8 16 8 16;
    padding: 8 16 8 16;
    -fx-background-radius: 16;
    -fx-font-size: 14px;
    font-size: 14px;
    -fx-wrap-text: true;
}

.message-bubble-sent {
    -fx-background-color: rgb(31, 132, 255);
    background-color: rgb(31, 132, 255);
    -fx-text-fill: white;
}

.message-bubble-received {
    -fx-background-color: rgb(136, 31, 255);
    background-color: rgb(136, 31, 255);
    -fx-text-fill: rgb(255, 255, 255);
}