.root {
    -fx-background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.navbarActive {
    -fx-background-color: rgb(31, 132, 255);
    background-color: rgb(31, 132, 255);
    -fx-text-fill: white;
}

.navbarInactive {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: black;
}