.root {
    -fx-background-color: rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
}

.navbarActive {
    -fx-background-color: rgb(31, 132, 255);
    background-color: rgb(31, 132, 255);
    -fx-text-fill: white;
}

.navbarInactive {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: black;
}

.DashboardNavbar {
    -fx-background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    -fx-text-fill: white;
    -fx-border-color: rgb(221, 221, 221);
    border-color: rgb(221, 221, 221);
}

.DashboardButton {
    -fx-background-color: transparent;
    background-color: transparent;
    border-color: rgb(0, 0, 0);
    -fx-text-alignment: left;
}

.DashboardButton-Active {
    -fx-background-color: rgb(31, 132, 255);
    background-color: rgb(31, 132, 255);
    -fx-text-fill: white;
}

.ActionBar {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: black;
}